.Rproj.user
.Rhistory
.RData
.Ruserdata
project-oyster-oa.RData
C_gigas/data/GCF_902806645.1_cgigas_uk_roslin_v1_cds_from_genomic.fna
C_gigas/data/GCF_902806645.1_cgigas_uk_roslin_v1_genomic.gtf
C_gigas/data/GCF_902806645.1_cgigas_uk_roslin_v1_rna.fna
C_gigas/data/GCF_902806645.1_cgigas_uk_roslin_v1_cds_from_genomic.fna 2
